<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>matches</key>
	<array>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>1</integer>
			<key>winnerMid</key>
			<integer>9</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
			<key>indexA</key>
			<integer>0</integer>
			<key>indexB</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>2</integer>
			<key>winnerMid</key>
			<integer>9</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
			<key>indexA</key>
			<integer>7</integer>
			<key>indexB</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>3</integer>
			<key>winnerMid</key>
			<integer>10</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
			<key>indexA</key>
			<integer>3</integer>
			<key>indexB</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>4</integer>
			<key>winnerMid</key>
			<integer>10</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
			<key>indexA</key>
			<integer>4</integer>
			<key>indexB</key>
			<integer>11</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>5</integer>
			<key>winnerMid</key>
			<integer>11</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
			<key>indexA</key>
			<integer>1</integer>
			<key>indexB</key>
			<integer>14</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>6</integer>
			<key>winnerMid</key>
			<integer>11</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
			<key>indexA</key>
			<integer>6</integer>
			<key>indexB</key>
			<integer>9</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>7</integer>
			<key>winnerMid</key>
			<integer>12</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
			<key>indexA</key>
			<integer>2</integer>
			<key>indexB</key>
			<integer>13</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>8</integer>
			<key>winnerMid</key>
			<integer>12</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
			<key>indexA</key>
			<integer>5</integer>
			<key>indexB</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>2</integer>
			<key>mid</key>
			<integer>9</integer>
			<key>winnerMid</key>
			<integer>13</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>2</integer>
			<key>mid</key>
			<integer>10</integer>
			<key>winnerMid</key>
			<integer>13</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>2</integer>
			<key>mid</key>
			<integer>11</integer>
			<key>winnerMid</key>
			<integer>14</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>2</integer>
			<key>mid</key>
			<integer>12</integer>
			<key>winnerMid</key>
			<integer>14</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>3</integer>
			<key>mid</key>
			<integer>13</integer>
			<key>winnerMid</key>
			<integer>15</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
			<key>loserMid</key>
			<integer>16</integer>
			<key>loserWeight</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>3</integer>
			<key>mid</key>
			<integer>14</integer>
			<key>winnerMid</key>
			<integer>15</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
			<key>loserMid</key>
			<integer>16</integer>
			<key>loserWeight</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>4</integer>
			<key>mid</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>4</integer>
			<key>mid</key>
			<integer>16</integer>
		</dict>
	</array>
</dict>
</plist>
