<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>matches</key>
	<array>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>1</integer>
			<key>winnerMid</key>
			<integer>65</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
			<key>indexA</key>
			<integer>0</integer>
			<key>indexB</key>
			<integer>127</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>2</integer>
			<key>winnerMid</key>
			<integer>65</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
			<key>indexA</key>
			<integer>63</integer>
			<key>indexB</key>
			<integer>64</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>3</integer>
			<key>winnerMid</key>
			<integer>66</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
			<key>indexA</key>
			<integer>31</integer>
			<key>indexB</key>
			<integer>96</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>4</integer>
			<key>winnerMid</key>
			<integer>66</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
			<key>indexA</key>
			<integer>32</integer>
			<key>indexB</key>
			<integer>95</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>5</integer>
			<key>winnerMid</key>
			<integer>67</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
			<key>indexA</key>
			<integer>15</integer>
			<key>indexB</key>
			<integer>112</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>6</integer>
			<key>winnerMid</key>
			<integer>67</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
			<key>indexA</key>
			<integer>48</integer>
			<key>indexB</key>
			<integer>79</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>7</integer>
			<key>winnerMid</key>
			<integer>68</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
			<key>indexA</key>
			<integer>16</integer>
			<key>indexB</key>
			<integer>111</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>8</integer>
			<key>winnerMid</key>
			<integer>68</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
			<key>indexA</key>
			<integer>47</integer>
			<key>indexB</key>
			<integer>80</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>9</integer>
			<key>winnerMid</key>
			<integer>69</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
			<key>indexA</key>
			<integer>7</integer>
			<key>indexB</key>
			<integer>120</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>10</integer>
			<key>winnerMid</key>
			<integer>69</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
			<key>indexA</key>
			<integer>56</integer>
			<key>indexB</key>
			<integer>71</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>11</integer>
			<key>winnerMid</key>
			<integer>70</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
			<key>indexA</key>
			<integer>24</integer>
			<key>indexB</key>
			<integer>103</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>12</integer>
			<key>winnerMid</key>
			<integer>70</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
			<key>indexA</key>
			<integer>39</integer>
			<key>indexB</key>
			<integer>88</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>13</integer>
			<key>winnerMid</key>
			<integer>71</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
			<key>indexA</key>
			<integer>8</integer>
			<key>indexB</key>
			<integer>119</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>14</integer>
			<key>winnerMid</key>
			<integer>71</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
			<key>indexA</key>
			<integer>55</integer>
			<key>indexB</key>
			<integer>72</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>15</integer>
			<key>winnerMid</key>
			<integer>72</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
			<key>indexA</key>
			<integer>23</integer>
			<key>indexB</key>
			<integer>104</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>16</integer>
			<key>winnerMid</key>
			<integer>72</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
			<key>indexA</key>
			<integer>40</integer>
			<key>indexB</key>
			<integer>87</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>17</integer>
			<key>winnerMid</key>
			<integer>73</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
			<key>indexA</key>
			<integer>3</integer>
			<key>indexB</key>
			<integer>124</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>18</integer>
			<key>winnerMid</key>
			<integer>73</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
			<key>indexA</key>
			<integer>60</integer>
			<key>indexB</key>
			<integer>67</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>19</integer>
			<key>winnerMid</key>
			<integer>74</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
			<key>indexA</key>
			<integer>28</integer>
			<key>indexB</key>
			<integer>99</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>20</integer>
			<key>winnerMid</key>
			<integer>74</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
			<key>indexA</key>
			<integer>35</integer>
			<key>indexB</key>
			<integer>92</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>21</integer>
			<key>winnerMid</key>
			<integer>75</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
			<key>indexA</key>
			<integer>12</integer>
			<key>indexB</key>
			<integer>115</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>22</integer>
			<key>winnerMid</key>
			<integer>75</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
			<key>indexA</key>
			<integer>51</integer>
			<key>indexB</key>
			<integer>76</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>23</integer>
			<key>winnerMid</key>
			<integer>76</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
			<key>indexA</key>
			<integer>19</integer>
			<key>indexB</key>
			<integer>108</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>24</integer>
			<key>winnerMid</key>
			<integer>76</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
			<key>indexA</key>
			<integer>44</integer>
			<key>indexB</key>
			<integer>83</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>25</integer>
			<key>winnerMid</key>
			<integer>77</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
			<key>indexA</key>
			<integer>4</integer>
			<key>indexB</key>
			<integer>123</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>26</integer>
			<key>winnerMid</key>
			<integer>77</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
			<key>indexA</key>
			<integer>59</integer>
			<key>indexB</key>
			<integer>68</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>27</integer>
			<key>winnerMid</key>
			<integer>78</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
			<key>indexA</key>
			<integer>27</integer>
			<key>indexB</key>
			<integer>100</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>28</integer>
			<key>winnerMid</key>
			<integer>78</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
			<key>indexA</key>
			<integer>36</integer>
			<key>indexB</key>
			<integer>91</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>29</integer>
			<key>winnerMid</key>
			<integer>79</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
			<key>indexA</key>
			<integer>11</integer>
			<key>indexB</key>
			<integer>116</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>30</integer>
			<key>winnerMid</key>
			<integer>79</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
			<key>indexA</key>
			<integer>52</integer>
			<key>indexB</key>
			<integer>75</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>31</integer>
			<key>winnerMid</key>
			<integer>80</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
			<key>indexA</key>
			<integer>20</integer>
			<key>indexB</key>
			<integer>107</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>32</integer>
			<key>winnerMid</key>
			<integer>80</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
			<key>indexA</key>
			<integer>43</integer>
			<key>indexB</key>
			<integer>84</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>33</integer>
			<key>winnerMid</key>
			<integer>81</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
			<key>indexA</key>
			<integer>1</integer>
			<key>indexB</key>
			<integer>126</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>34</integer>
			<key>winnerMid</key>
			<integer>81</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
			<key>indexA</key>
			<integer>62</integer>
			<key>indexB</key>
			<integer>65</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>35</integer>
			<key>winnerMid</key>
			<integer>82</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
			<key>indexA</key>
			<integer>30</integer>
			<key>indexB</key>
			<integer>97</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>36</integer>
			<key>winnerMid</key>
			<integer>82</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
			<key>indexA</key>
			<integer>33</integer>
			<key>indexB</key>
			<integer>94</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>37</integer>
			<key>winnerMid</key>
			<integer>83</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
			<key>indexA</key>
			<integer>14</integer>
			<key>indexB</key>
			<integer>113</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>38</integer>
			<key>winnerMid</key>
			<integer>83</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
			<key>indexA</key>
			<integer>49</integer>
			<key>indexB</key>
			<integer>78</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>39</integer>
			<key>winnerMid</key>
			<integer>84</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
			<key>indexA</key>
			<integer>17</integer>
			<key>indexB</key>
			<integer>110</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>40</integer>
			<key>winnerMid</key>
			<integer>84</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
			<key>indexA</key>
			<integer>46</integer>
			<key>indexB</key>
			<integer>81</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>41</integer>
			<key>winnerMid</key>
			<integer>85</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
			<key>indexA</key>
			<integer>6</integer>
			<key>indexB</key>
			<integer>121</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>42</integer>
			<key>winnerMid</key>
			<integer>85</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
			<key>indexA</key>
			<integer>57</integer>
			<key>indexB</key>
			<integer>70</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>43</integer>
			<key>winnerMid</key>
			<integer>86</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
			<key>indexA</key>
			<integer>25</integer>
			<key>indexB</key>
			<integer>102</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>44</integer>
			<key>winnerMid</key>
			<integer>86</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
			<key>indexA</key>
			<integer>38</integer>
			<key>indexB</key>
			<integer>89</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>45</integer>
			<key>winnerMid</key>
			<integer>87</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
			<key>indexA</key>
			<integer>9</integer>
			<key>indexB</key>
			<integer>118</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>46</integer>
			<key>winnerMid</key>
			<integer>87</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
			<key>indexA</key>
			<integer>54</integer>
			<key>indexB</key>
			<integer>73</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>47</integer>
			<key>winnerMid</key>
			<integer>88</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
			<key>indexA</key>
			<integer>22</integer>
			<key>indexB</key>
			<integer>105</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>48</integer>
			<key>winnerMid</key>
			<integer>88</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
			<key>indexA</key>
			<integer>41</integer>
			<key>indexB</key>
			<integer>86</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>49</integer>
			<key>winnerMid</key>
			<integer>89</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
			<key>indexA</key>
			<integer>2</integer>
			<key>indexB</key>
			<integer>125</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>50</integer>
			<key>winnerMid</key>
			<integer>89</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
			<key>indexA</key>
			<integer>61</integer>
			<key>indexB</key>
			<integer>66</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>51</integer>
			<key>winnerMid</key>
			<integer>90</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
			<key>indexA</key>
			<integer>29</integer>
			<key>indexB</key>
			<integer>98</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>52</integer>
			<key>winnerMid</key>
			<integer>90</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
			<key>indexA</key>
			<integer>34</integer>
			<key>indexB</key>
			<integer>93</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>53</integer>
			<key>winnerMid</key>
			<integer>91</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
			<key>indexA</key>
			<integer>13</integer>
			<key>indexB</key>
			<integer>114</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>54</integer>
			<key>winnerMid</key>
			<integer>91</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
			<key>indexA</key>
			<integer>50</integer>
			<key>indexB</key>
			<integer>77</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>55</integer>
			<key>winnerMid</key>
			<integer>92</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
			<key>indexA</key>
			<integer>18</integer>
			<key>indexB</key>
			<integer>109</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>56</integer>
			<key>winnerMid</key>
			<integer>92</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
			<key>indexA</key>
			<integer>45</integer>
			<key>indexB</key>
			<integer>82</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>57</integer>
			<key>winnerMid</key>
			<integer>93</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
			<key>indexA</key>
			<integer>5</integer>
			<key>indexB</key>
			<integer>122</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>58</integer>
			<key>winnerMid</key>
			<integer>93</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
			<key>indexA</key>
			<integer>58</integer>
			<key>indexB</key>
			<integer>69</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>59</integer>
			<key>winnerMid</key>
			<integer>94</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
			<key>indexA</key>
			<integer>26</integer>
			<key>indexB</key>
			<integer>101</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>60</integer>
			<key>winnerMid</key>
			<integer>94</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
			<key>indexA</key>
			<integer>37</integer>
			<key>indexB</key>
			<integer>90</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>61</integer>
			<key>winnerMid</key>
			<integer>95</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
			<key>indexA</key>
			<integer>10</integer>
			<key>indexB</key>
			<integer>117</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>62</integer>
			<key>winnerMid</key>
			<integer>95</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
			<key>indexA</key>
			<integer>53</integer>
			<key>indexB</key>
			<integer>74</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>63</integer>
			<key>winnerMid</key>
			<integer>96</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
			<key>indexA</key>
			<integer>21</integer>
			<key>indexB</key>
			<integer>106</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>1</integer>
			<key>mid</key>
			<integer>64</integer>
			<key>winnerMid</key>
			<integer>96</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
			<key>indexA</key>
			<integer>42</integer>
			<key>indexB</key>
			<integer>85</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>2</integer>
			<key>mid</key>
			<integer>65</integer>
			<key>winnerMid</key>
			<integer>97</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>2</integer>
			<key>mid</key>
			<integer>66</integer>
			<key>winnerMid</key>
			<integer>97</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>2</integer>
			<key>mid</key>
			<integer>67</integer>
			<key>winnerMid</key>
			<integer>98</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>2</integer>
			<key>mid</key>
			<integer>68</integer>
			<key>winnerMid</key>
			<integer>98</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>2</integer>
			<key>mid</key>
			<integer>69</integer>
			<key>winnerMid</key>
			<integer>99</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>2</integer>
			<key>mid</key>
			<integer>70</integer>
			<key>winnerMid</key>
			<integer>99</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>2</integer>
			<key>mid</key>
			<integer>71</integer>
			<key>winnerMid</key>
			<integer>100</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>2</integer>
			<key>mid</key>
			<integer>72</integer>
			<key>winnerMid</key>
			<integer>100</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>2</integer>
			<key>mid</key>
			<integer>73</integer>
			<key>winnerMid</key>
			<integer>101</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>2</integer>
			<key>mid</key>
			<integer>74</integer>
			<key>winnerMid</key>
			<integer>101</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>2</integer>
			<key>mid</key>
			<integer>75</integer>
			<key>winnerMid</key>
			<integer>102</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>2</integer>
			<key>mid</key>
			<integer>76</integer>
			<key>winnerMid</key>
			<integer>102</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>2</integer>
			<key>mid</key>
			<integer>77</integer>
			<key>winnerMid</key>
			<integer>103</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>2</integer>
			<key>mid</key>
			<integer>78</integer>
			<key>winnerMid</key>
			<integer>103</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>2</integer>
			<key>mid</key>
			<integer>79</integer>
			<key>winnerMid</key>
			<integer>104</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>2</integer>
			<key>mid</key>
			<integer>80</integer>
			<key>winnerMid</key>
			<integer>104</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>2</integer>
			<key>mid</key>
			<integer>81</integer>
			<key>winnerMid</key>
			<integer>105</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>2</integer>
			<key>mid</key>
			<integer>82</integer>
			<key>winnerMid</key>
			<integer>105</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>2</integer>
			<key>mid</key>
			<integer>83</integer>
			<key>winnerMid</key>
			<integer>106</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>2</integer>
			<key>mid</key>
			<integer>84</integer>
			<key>winnerMid</key>
			<integer>106</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>2</integer>
			<key>mid</key>
			<integer>85</integer>
			<key>winnerMid</key>
			<integer>107</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>2</integer>
			<key>mid</key>
			<integer>86</integer>
			<key>winnerMid</key>
			<integer>107</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>2</integer>
			<key>mid</key>
			<integer>87</integer>
			<key>winnerMid</key>
			<integer>108</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>2</integer>
			<key>mid</key>
			<integer>88</integer>
			<key>winnerMid</key>
			<integer>108</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>2</integer>
			<key>mid</key>
			<integer>89</integer>
			<key>winnerMid</key>
			<integer>109</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>2</integer>
			<key>mid</key>
			<integer>90</integer>
			<key>winnerMid</key>
			<integer>109</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>2</integer>
			<key>mid</key>
			<integer>91</integer>
			<key>winnerMid</key>
			<integer>110</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>2</integer>
			<key>mid</key>
			<integer>92</integer>
			<key>winnerMid</key>
			<integer>110</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>2</integer>
			<key>mid</key>
			<integer>93</integer>
			<key>winnerMid</key>
			<integer>111</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>2</integer>
			<key>mid</key>
			<integer>94</integer>
			<key>winnerMid</key>
			<integer>111</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>2</integer>
			<key>mid</key>
			<integer>95</integer>
			<key>winnerMid</key>
			<integer>112</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>2</integer>
			<key>mid</key>
			<integer>96</integer>
			<key>winnerMid</key>
			<integer>112</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>3</integer>
			<key>mid</key>
			<integer>97</integer>
			<key>winnerMid</key>
			<integer>113</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>3</integer>
			<key>mid</key>
			<integer>98</integer>
			<key>winnerMid</key>
			<integer>113</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>3</integer>
			<key>mid</key>
			<integer>99</integer>
			<key>winnerMid</key>
			<integer>114</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>3</integer>
			<key>mid</key>
			<integer>100</integer>
			<key>winnerMid</key>
			<integer>114</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>3</integer>
			<key>mid</key>
			<integer>101</integer>
			<key>winnerMid</key>
			<integer>115</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>3</integer>
			<key>mid</key>
			<integer>102</integer>
			<key>winnerMid</key>
			<integer>115</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>3</integer>
			<key>mid</key>
			<integer>103</integer>
			<key>winnerMid</key>
			<integer>116</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>3</integer>
			<key>mid</key>
			<integer>104</integer>
			<key>winnerMid</key>
			<integer>116</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>3</integer>
			<key>mid</key>
			<integer>105</integer>
			<key>winnerMid</key>
			<integer>117</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>3</integer>
			<key>mid</key>
			<integer>106</integer>
			<key>winnerMid</key>
			<integer>117</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>3</integer>
			<key>mid</key>
			<integer>107</integer>
			<key>winnerMid</key>
			<integer>118</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>3</integer>
			<key>mid</key>
			<integer>108</integer>
			<key>winnerMid</key>
			<integer>118</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>3</integer>
			<key>mid</key>
			<integer>109</integer>
			<key>winnerMid</key>
			<integer>119</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>3</integer>
			<key>mid</key>
			<integer>110</integer>
			<key>winnerMid</key>
			<integer>119</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>3</integer>
			<key>mid</key>
			<integer>111</integer>
			<key>winnerMid</key>
			<integer>120</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>3</integer>
			<key>mid</key>
			<integer>112</integer>
			<key>winnerMid</key>
			<integer>120</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>4</integer>
			<key>mid</key>
			<integer>113</integer>
			<key>winnerMid</key>
			<integer>121</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>4</integer>
			<key>mid</key>
			<integer>114</integer>
			<key>winnerMid</key>
			<integer>121</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>4</integer>
			<key>mid</key>
			<integer>115</integer>
			<key>winnerMid</key>
			<integer>122</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>4</integer>
			<key>mid</key>
			<integer>116</integer>
			<key>winnerMid</key>
			<integer>122</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>4</integer>
			<key>mid</key>
			<integer>117</integer>
			<key>winnerMid</key>
			<integer>123</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>4</integer>
			<key>mid</key>
			<integer>118</integer>
			<key>winnerMid</key>
			<integer>123</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>4</integer>
			<key>mid</key>
			<integer>119</integer>
			<key>winnerMid</key>
			<integer>124</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>4</integer>
			<key>mid</key>
			<integer>120</integer>
			<key>winnerMid</key>
			<integer>124</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>5</integer>
			<key>mid</key>
			<integer>121</integer>
			<key>winnerMid</key>
			<integer>125</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>5</integer>
			<key>mid</key>
			<integer>122</integer>
			<key>winnerMid</key>
			<integer>125</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>5</integer>
			<key>mid</key>
			<integer>123</integer>
			<key>winnerMid</key>
			<integer>126</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>5</integer>
			<key>mid</key>
			<integer>124</integer>
			<key>winnerMid</key>
			<integer>126</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>6</integer>
			<key>mid</key>
			<integer>125</integer>
			<key>winnerMid</key>
			<integer>127</integer>
			<key>winnerWeight</key>
			<integer>0</integer>
			<key>loserMid</key>
			<integer>128</integer>
			<key>loserWeight</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>6</integer>
			<key>mid</key>
			<integer>126</integer>
			<key>winnerMid</key>
			<integer>127</integer>
			<key>winnerWeight</key>
			<integer>1</integer>
			<key>loserMid</key>
			<integer>128</integer>
			<key>loserWeight</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>7</integer>
			<key>mid</key>
			<integer>127</integer>
		</dict>
		<dict>
			<key>round</key>
			<integer>7</integer>
			<key>mid</key>
			<integer>128</integer>
		</dict>
	</array>
</dict>
</plist>
