<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rounds</key>
	<array>
		<array>
			<dict>
				<key>mid</key>
				<integer>1</integer>
				<key>winner_mid</key>
				<integer>5</integer>
				<key>winner_weight</key>
				<integer>0</integer>
				<key>indexA</key>
				<integer>0</integer>
				<key>indexB</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>mid</key>
				<integer>2</integer>
				<key>winner_mid</key>
				<integer>5</integer>
				<key>winner_weight</key>
				<integer>1</integer>
				<key>indexA</key>
				<integer>3</integer>
				<key>indexB</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>mid</key>
				<integer>3</integer>
				<key>winner_mid</key>
				<integer>6</integer>
				<key>winner_weight</key>
				<integer>0</integer>
				<key>indexA</key>
				<integer>1</integer>
				<key>indexB</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>mid</key>
				<integer>4</integer>
				<key>winner_mid</key>
				<integer>6</integer>
				<key>winner_weight</key>
				<integer>1</integer>
				<key>indexA</key>
				<integer>2</integer>
				<key>indexB</key>
				<integer>5</integer>
			</dict>
		</array>
		<array>
			<dict>
				<key>mid</key>
				<integer>5</integer>
				<key>winner_mid</key>
				<integer>7</integer>
				<key>winner_weight</key>
				<integer>0</integer>
				<key>loser_mid</key>
				<integer>8</integer>
				<key>loser_weight</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>mid</key>
				<integer>6</integer>
				<key>winner_mid</key>
				<integer>7</integer>
				<key>winner_weight</key>
				<integer>1</integer>
				<key>loser_mid</key>
				<integer>8</integer>
				<key>loser_weight</key>
				<integer>1</integer>
			</dict>
		</array>
		<array>
			<dict>
				<key>mid</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>mid</key>
				<integer>8</integer>
			</dict>
		</array>
	</array>
	<key>ranks</key>
	<string></string>
</dict>
</plist>
